<form action="/cart" method="POST">
    <button type="submit" class="btn">Add to cart</button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>